/* CSS Document */
p {
	color: green;
	font-family: Costantia, "Lucida Bright", "Dejavu Serif", Georgia, "serif";
	font-size: 16px; 
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}
h1, h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Aria, "sans-serif";
	color: cadetblue;
}
span {color:blue;}
body{
	background-image: url("Slike/JVSD3386.jpg");
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgrey;
}
